a,
a:visited {
  text-decoration: none;
  color: #000;
}

body,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.content-1 {
  padding: 20px;
  box-sizing: content-box;
  border: 1px solid #000;
}

/* 첫번째 시안 css */
.item--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.item--1-itemimg {
  display: block;
  width: 100%;
  margin: 0 0 15px 0;
  border: 1px solid #000;
}

.item--1-info {
  width: 100%;
}

.item--1-info-heading,
.item--1-info-price,
.item--1-info-btn {
  display: block;
}

.item--1-info-heading {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.item--1-info-price {
  font-size: 0.85em;
  margin-left: 3px;
  margin-bottom: 7px;
  color: #666;
}

.item--1-info-price::after {
  content: "₩";
  margin-left: 1px;
}

.item--1-info-btn-text {
  width: 100%;
  padding: 10px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  color: #000;
  border: 1px solid #000;
  transition: all 0.3s ease-in-out;
}

.item--1-info-btn-text:hover {
  color: #eee;
  background-color: #666;
  border: 1px solid #000;
}

/* 두번째 시안 / 보증서 디자인 활용 */

.content-2 {
  border: 1px solid #000;
}

.item--2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.item--2-itemimg {
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
}

.item--2-info {
  width: 100%;
}

.item--2-info-heading,
.item--2-info-price,
.item--2-info-btn {
  display: block;
}

.item--2-info-heading {
  font-size: 1em;
  font-weight: 400;
  padding: 7px 0 7px 7px;
  border-left: 7px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.item--2-info-price {
  text-align: right;
  font-size: 1em;
  font-weight: 200;
  padding: 7px 7px 7px 7px;
  border-right: 7px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.item--2-info-price::before {
  content: "₩";
  margin-right: 1px;
}

.item--2-info-btn {
  display: block;
  font-size: 1em;
  font-weight: 400;
  padding: 7px 7px 7px 7px;
  border-left: 7px solid #000;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.item--2-info-btn:hover {
  color: #eee;
  background-color: #666;
}
